.header{
  background-color: #161616;
  height: 60px;
  position: fixed;
  width: 100%;
  margin-bottom: 50px;
  top: 0;
  z-index: 5;
  left: 0;
}

.header_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

/* .logo{
  color: rgb(231 46 46);
  font-weight: bold;
  text-decoration: none;
  
} */

.logo{
  margin-top: 2px;
  margin-left: -4px;
  /* width: 118px;
  height: 100%; */
  width: 118px;
}

.nav{
  display: flex;
  justify-content: space-between;
/* width: 350px; */
align-items: center;
}

.nav_item{
  font-weight:500;
  color: white;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  line-height: 1.5;
}

.nav_item:after {
	display: block;
	position: absolute;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: rgb(184, 22, 22); /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out; /*задаём время анимации*/
}

.nav_item:hover:after,
.nav_item:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

@media (max-width: 1500px){

  .header_wrapper{
    padding-left: 70px;
    padding-right: 70px;
    max-width: 1350px;
  }
}

@media (max-width: 850px){
  .nav{
 display: none;
  }
  .logo{
    margin-left: auto;
    margin-right: auto;
  }
  .header_wrapper{
    width: auto;
  }
  .header{
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.91);
  }
}
