.wrapper{
  margin-top: 90px;
}

.wrapper_search_group{
 /*  display: flex;
  justify-content: space-between; */
  margin-bottom: 25px;
 /*  align-items: center; */
}

.search_group{
  display: flex;
  align-items: center;
}

.search_text_query{
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  margin-left: 5px;
}

.search_text{
  font-size: 18px;
  font-weight: 300;
  
  /* width: auto; */
}

.total_films{
  font-size: 16px;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.747);
  margin-top: -12px;
}

.btn{
  background-color: rgb(184, 22, 22);
  color:rgb(235, 235, 235);
  font-weight:500;
  font-size: 18px;
  padding: 8px 15px 8px 15px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid rgb(184, 22, 22);
  border-radius: 5px;
}

.wrapper_btn_show_more{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
