/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/styles/SearchInput.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.SearchInput_text_field__rfU3Y{
    color: blueviolet;
}

.SearchInput_search___YNsW{
    width: 600px;
    height: 35px;
    display: flex;
}

.SearchInput_search_input__HPkgX{
    width: 100%;
    height: 100%;
    background-color: rgb(14 14 14);
    border: 1px solid rgb(52 52 52);
    color: white;
    font-size: 16px;
    position: relative;
    padding-left: 10px;
    border-radius: 5px 0 0 5px;
}
.SearchInput_search_input__HPkgX::-webkit-input-placeholder{
     color: rgb(179, 179, 179); 
     font-size: 16px;
}

.SearchInput_search_input__HPkgX:-ms-input-placeholder{
    color: rgb(179, 179, 179); font-size: 16px;
}

.SearchInput_search_input__HPkgX::-moz-placeholder{
    color: rgb(179, 179, 179); font-size: 16px;
}

.SearchInput_search_input__HPkgX:-moz-placeholder{
    color: rgb(179, 179, 179); font-size: 16px;
}

.SearchInput_btn_search__RGYc1{
    width: 50px;
    background-color: rgb(52 52 52);
    height: 100%;
    /* margin-left: 5px; */
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.SearchInput_search_list__WZKD_{
    width: 545px;
    top: 95%;
    height: 500px;
    background-color: rgb(36,36,36);
    position: absolute;
    padding-top: 20px;
    box-sizing: border-box;
    overflow-y: scroll;
box-shadow: 0px 11px 10px 5px rgba(0, 0, 0, 0.52);
}

.SearchInput_img_wrapper__Bkdb_{
    display: flex;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.SearchInput_img__ekE1v{
    width: 98px;
    height: 142px;
    margin-right: 20px;
}

.SearchInput_name__VTWUp{
    font-weight: bold;
    margin-bottom: 8px;
}

.SearchInput_year__PnSg0{
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.822);
    margin-bottom: 8px;
}

.SearchInput_rating_num__7QgmW{
    font-weight: bold;
    color: rgb(59,179,59);
}

.SearchInput_img_wrapper__Bkdb_:hover{
    background-color: rgb(24,24,24);
}


/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/styles/Header.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.Header_header__ceAaR{
  background-color: #161616;
  height: 60px;
  position: fixed;
  width: 100%;
  margin-bottom: 50px;
  top: 0;
  z-index: 5;
  left: 0;
}

.Header_header_wrapper__CmT2D{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

/* .logo{
  color: rgb(231 46 46);
  font-weight: bold;
  text-decoration: none;
  
} */

.Header_logo__wKR00{
  margin-top: 2px;
  margin-left: -4px;
  /* width: 118px;
  height: 100%; */
  width: 118px;
}

.Header_nav__vEp9l{
  display: flex;
  justify-content: space-between;
/* width: 350px; */
align-items: center;
}

.Header_nav_item__fUAli{
  font-weight:500;
  color: white;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  line-height: 1.5;
}

.Header_nav_item__fUAli:after {
	display: block;
	position: absolute;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: rgb(184, 22, 22); /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out; /*задаём время анимации*/
}

.Header_nav_item__fUAli:hover:after,
.Header_nav_item__fUAli:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

@media (max-width: 1500px){

  .Header_header_wrapper__CmT2D{
    padding-left: 70px;
    padding-right: 70px;
    max-width: 1350px;
  }
}

@media (max-width: 850px){
  .Header_nav__vEp9l{
 display: none;
  }
  .Header_logo__wKR00{
    margin-left: auto;
    margin-right: auto;
  }
  .Header_header_wrapper__CmT2D{
    width: auto;
  }
  .Header_header__ceAaR{
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.91);
  }
}

